/*
    ANTONOVA & SAM le 17/11/2022
    style.css
    CSS pour le formulaire du projet de Ged'Imagination
*/

/* Le body avec une image derrière le formulaire */
body
{
    background-image: url(back.jpg);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Le titre du formulaire */
h1
{
    text-align: center;
    margin-top: 40px;
    color: #000000;
    text-decoration: underline;
}

/* Le conteneur de tout le formulaire */
#conteneur
{
    border: 3px solid;
    border-color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: auto;
    margin-top: 50px;
    padding: 10px 20px 20px 20px;
    width: 45%;
    background: #ffffff;
    box-shadow: 8px 8px 20px #000000;  
}

/* Le titre, la description, le début et fin de réalisation */
div #titre, div #description, div #debut, div #fin
{
    font-size: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 100px;
    text-align: left;
}

/* Que les labels du conteneur */
#conteneur label
{
    position: relative;
    font-size: 115% ;
    font-weight: bold;
    text-align: left;
}

/* Le buton pour valider le formulaire */
.button
{
    font-size: 150px;
}

/* L'espace vide pour avoir la possibilité de remplir le titre de réalisation */
input[type=text]
{
    width: 96.5%;
    box-sizing: border-box;
    padding : 10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.3);
    border-radius:10px;
    font-family: 'Courier New', Courier, monospace;
}

/* L'espace vide pour avoir la possibilité de remplir la description de réalisation */
textarea
{
    resize: none;
    width: 94%;
    padding : 10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.5);
    border-radius:10px;
    font-family: 'Courier New', Courier, monospace;
}

/* Buton pour envoyer le formulaire */
input[type=submit]
{
    background-color: #000000;
    color:#ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
}

/* Le buton - quel effet a-t-il quand on mets la souris dessus */
input[type=submit]:hover
{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}

/* La date pour le début et la date pour la fin de réalisation*/
input[type=date]
{
    font-size: 40px;
    margin-left: 15px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.3);
    border-radius: 4px;
}

/* La photo (non pas le fichier) */
div #photo
{
    font-size: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100px;
    text-align: left;
}

/* La date du jour */
div #date
{
    font-size: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100px;
    text-align: center;
}

/* Le fichier qui a été transmis par le participant */
input[type=file]
{
    margin-left: 15px;
}

/* La fin de réalisation */
input[id="fin"]
{
    margin-left: 42px;
}

div #infos
{
    font-size: 80%;
    text-align: left;
    margin-top: 5px;
}
