/*
    ANTONOVA & SAM le 17/11/2022
    style.css
    CSS pour la participation au jeu du projet de Ged'Imagination
*/

/* Le body avec une image derrière le bouton de valdation de participation au jeu */
body
{
    background-image: url(back.jpg);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Le titre */
h1
{
    text-align: center;
    margin-top: 40px;
    color: #000000;
    text-decoration: underline;
    font-size: 190%;
}

/* Le titre par l'id */
#participation
{
    border: 3px solid;
    border-color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px 20px 20px 20px;
    width: 45%;
    background: #ffffff;
    box-shadow: 8px 8px 20px #000000;  
}

/* Buton pour essayer de participer au jeu */
button
{
    background-color: #000000;
    color:#ffffff;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    width: 50%;
    margin-top: 10px;
    text-align: center;
}

/* Le style du buton dès qu'on mets la souris dessus */
button:hover
{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}
